
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <%= link_to 'お問い合わせ', "#", class: 'footer-link' %>
      </div>
      <div class="col-4 text-center">
        <%= link_to '利用規約', "#", class: 'footer-link' %>
        <%= link_to 'プライバシーポリシー', "#", class: 'footer-link' %>
      </div>
      <div class="col-4 text-end">
        <%= link_to 'サポート', "#", class: 'footer-link' %>
      </div>
    </div>
  </div>
</footer>
